<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" type="text/css" href="css/index.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
    <!--navigation-->
    	<nav id="nav">
    <div class="nav-wrapper purple darken-4" id="wrap">
      <a href="#!" class="brand-logo">MORE-Recipe</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="deep-purple-text darken-2"><a href="signup.html">SignUp</a></li>
        <li><div>|</div></li>
        <li><a href="signup.html">SignIn</a></li>
      </ul>
      <ul class="side-nav cyan darken-1" id="mobile-demo">
        <li ><a href="signup.html">SignUp</a></li>
        <li class="divider deep-purple darken-2"></li>
        <li><a href="signup.html">SignIn</a></li>
        <li><a href="#Popular">Popular Recipes</a></li>
      </ul>
    </div>
  </nav>
  <!--navigation-->

  <div class="cor z-depth-4">
  		<div class="carousel">
		    <a class="carousel-item" href="#one!"><img src="images/fries.jpeg"></a>
		    <a class="carousel-item" href="#two!"><img src="images/salmon.jpeg"></a>
		    <a class="carousel-item" href="#three!"><img src="images/spags.jpg"></a>
		    <a class="carousel-item" href="#four!"><img src="images/ketchup.jpeg"></a>
		    <a class="carousel-item" href="#five!"><img src="images/chips.jpeg"></a>
  		</div>
  </div>

  <div class="container">
  	<div class="search">
  	<form class="col s12">
  		<div class="row">
        <div class="input-field col s8">
          <i class="material-icons prefix">search</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Search Recipes</label>
        </div>
  	</form>
  </div>
  </div>
  

  	<div class="contents row" id="contents">
	  	<div class="col m8 overFlow">
	  	<h4 style="font-family: monospace; margin-left:5px;">All Recipes</h4>
	  		<div class="recipes z-depth-1">
	  			<div id="left-image">
	  				<img src="images/spags.jpg" style="height:100px; width:100px;" class="responsive">
	  			</div>
	  			<div id="recipes-info">
		  			<h5>Spaghetti Codes</h5>
		  			<h6>Description</h6>
		  			<p><span id="paragraph">Non enim, si omnia non sequebatur, idcirco non erat ortus illinc. Ille enim occurrentia nescio quae comminiscebatur; Unum est sine dolore esse, alterum cum voluptate. Hoc tu nunc in illo probas. Videamus igitur sententias eorum, tum ad verba redeamus.</span></p>
		  			<a href="recipe-Detail.html" id ="hoverMe" class="waves-effect waves-light btn purple darken-4"><i class="material-icons left">info</i>View More</a>

	  			</div>
	  			
	  		</div>
	  		<div class="recipes z-depth-1">
	  			<div id="left-image">
	  				<img src="images/spags.jpg" style="height:100px; width:100px;" class="responsive">
	  			</div>
	  			<div id="recipes-info">
		  			<h5>Spaghetti Codes</h5>
		  			<h6>Description</h6>
		  			<p><span id="paragraph">Non enim, si omnia non sequebatur, idcirco non erat ortus illinc. Ille enim occurrentia nescio quae comminiscebatur; Unum est sine dolore esse, alterum cum voluptate. Hoc tu nunc in illo probas. Videamus igitur sententias eorum, tum ad verba redeamus.</span></p>
		  			<a href="recipe-Detail.html" id ="hoverMe" class="waves-effect waves-light btn purple darken-4"><i class="material-icons left">info</i>View More</a>

	  			</div>
	  			
	  		</div>
	  		<div class="recipes z-depth-1">
	  			<div id="left-image">
	  				<img src="images/spags.jpg" style="height:100px; width:100px;" class="responsive">
	  			</div>
	  			<div id="recipes-info">
		  			<h5>Spaghetti Codes</h5>
		  			<h6>Description</h6>
		  			<p><span id="paragraph">Non enim, si omnia non sequebatur, idcirco non erat ortus illinc. Ille enim occurrentia nescio quae comminiscebatur; Unum est sine dolore esse, alterum cum voluptate. Hoc tu nunc in illo probas. Videamus igitur sententias eorum, tum ad verba redeamus.</span></p>
		  			<a href="recipe-Detail.html" id ="hoverMe" class="waves-effect waves-light btn purple darken-4"><i class="material-icons left">info</i>View More</a>

	  			</div>
	  			
	  		</div>
	  		<div class="recipes z-depth-1">
	  			<div id="left-image">
	  				<img src="images/spags.jpg" style="height:100px; width:100px;" class="responsive">
	  			</div>
	  			<div id="recipes-info">
		  			<h5>Spaghetti Codes</h5>
		  			<h6>Description</h6>
		  			<p><span id="paragraph">Non enim, si omnia non sequebatur, idcirco non erat ortus illinc. Ille enim occurrentia nescio quae comminiscebatur; Unum est sine dolore esse, alterum cum voluptate. Hoc tu nunc in illo probas. Videamus igitur sententias eorum, tum ad verba redeamus.</span></p>
		  			<a href="recipe-Detail.html" id ="hoverMe" class="waves-effect waves-light btn purple darken-4"><i class="material-icons left">info</i>View More</a>

	  			</div>
	  			
	  		</div>
	  	</div>

	  	<div class="col m4 overFlow" id="Popular">
	  		<h4 style="font-family: monospace; margin-left:5px;">Popular Recipes</h4>
	  		<div class="recipes z-depth-1">
	  			<div id="left-image">
	  				<img src="images/spags.jpg" style="height:100px; width:100px;" class="responsive">
	  			</div>
	  			<div id="recipes-info">
		  			<h5>Spaghetti Codes</h5>
		  			<h6>Description</h6>
		  			<p><span id="paragraph">Non enim, si omnia non sequebatur, idcirco non erat ortus illinc. Ille enim occurrentia nescio quae comminiscebatur; Unum est sine dolore esse, alterum cum voluptate. Hoc tu nunc in illo probas. Videamus igitur sententias eorum, tum ad verba redeamus.</span></p>
		  			<a href="recipe-Detail.html" id ="hoverMe" class="waves-effect waves-light btn purple darken-4"><i class="material-icons left">info</i>View More</a>

	  			</div>
	  			
	  		</div>
	  	</div>
 	</div>

  <!--footer-->
  <div class=" footer purple darken-4" id ="footer">
  <div class ="left-content foot-content">
  	<ul>
  		<li><i class="material-icons left">phone</i>contact us: 08067xxxxxx</li>
  		<li><i class="material-icons left">phone</i>contact us: 08067xxxxxx</li>
  		<li><i class="material-icons left">phone</i>contact us: 08067xxxxxx</li>
  	</ul>
  </div>
  <div class="center-content foot-content">
  	<ul>
  		<li><i class="material-icons left">phone</i>contact us: 08067xxxxxx</li>
  		<li><i class="material-icons left">phone</i>contact us: 08067xxxxxx</li>
  		<li><i class="material-icons left">phone</i>contact us: 08067xxxxxx</li>
  	</ul>
  </div>
  <div class="right-content foot-content">
  	<ul>
  		<li><i class="material-icons left">phone</i>contact us: 08067xxxxxx</li>
  		<li><i class="material-icons left">phone</i>contact us: 08067xxxxxx</li>
  		<li><i class="material-icons left">phone</i>contact us: 08067xxxxxx</li>
  	</ul>
  </div>
  </div>
  <!--footer-->
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="js/jquery-3.2.1.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src = "js/javascript.js"></script>
    </body>
 </html>
