<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" type="text/css" href="css/index.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
    <!--navigation-->
    <nav id="nav">
    <!--nav wrap-->
        <div class="nav-wrapper purple darken-4" id="wrap">
            <a href="all.html" class="brand-logo">MORE-Recipe</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">

              <li><a class='dropdown-button btn purple darken-4' href='#' data-activates='dropdown1'><i class= "material-icons">menu</i>
              </a></a></li>
                <li><a href="#!user"><img class="circle user-image z-depth-3" src="images/ketchup.jpeg"></a></li>
                <li class="deep-purple-text darken-2"><a href="add.html"><i class="material-icons">add</i> Add Recipe</a></li>
                <li><a href="Favourite.html">Favourite</a></li>
            </ul>
            <!--nav wrap-->

            <!--dropdwon list-->
            <ul id='dropdown1' class='dropdown-content'>
              <li><a href="#!">John Smith</a></li>
              <li><a href="#!">Johndenerys<br>@gmail.com</a></li>
              <li class="divider"></li>
              <li><a href="profile.html">View Profile</a></li>
            </ul>
            <!--dropdown list-->

            <!--mobile view list-->
            <ul class="side-nav purple darken-4" id="mobile-demo">
               <li>
                <div class="user-view">
                  <div class="background">
                     <img src="images/office.jpg">
                  </div>
                    <a href="#!user"><img class="circle" src="images/ketchup.jpeg"></a>
                    <a href="#!name"><span class="white-text name">John Smith</span></a>
                    <a href="#!email"><span class="white-text email">Johndenerys@gmail.com</span></a>
                </div>
              </li>
              <li><a href="add.html" class="waves-effect"><i class="material-icons">add</i>Add Recipe</a></li>
              <li><a class="waves-effect" href="Favourite.html">Favourite</a></li>
              <li><div class="divider"></div></li>
              <li><a class="waves-effect" href="profile">View Profile</a></li>
            </ul>
            <!--mobile view list-->
        </div>
  </nav>
  <!--navigation end-->

  <!--content begins here-->
  <div class="container">
    <div id="wrapper">
      <div id="image-div">
        <h5>John Smith</h5>
        <div id="image-wrapper" class="z-depth-3">
          <img src="images/shawama.jpeg" alt="">
        </div>
      </div>
      <div id="space"></div>
      <div id="info" class="z-depth-3">
        <ul class="collection">
          <li class="collection-item avatar">
            <i class="material-icons circle">account_box</i>
            <span class="title">fabulous Food</span>
            <a href="#!" class="secondary-content"><i class="material-icons waves-effect">edit</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">phone</i>
            <span class="title">08067xxx</span>
            <a href="#!" class="secondary-content"><i class="material-icons waves-effect">edit</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">email</i>
            <span class="title">JohnSmith@gmail.com</span>
            <a href="#!" class="secondary-content"><i class="material-icons waves-effect">edit</i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!--content ends here-->

  <footer class="page-footer purple darken-4">
            <div class="row">
               <div class="col l4 offset-l2 s12">
                <h5 class="white-text">About Us</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">News Room</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Jobs at More-Recipe</a></li>
                </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Support</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Site Map</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact us</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Customer Support</a></li>
                </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Advertisement</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Advertise with Us</a></li>
                </ul>
              </div>
            </div>
          <div class="footer-copyright">
              <div class="container">
              © 2017 More-Recipe.
              </div>
            </div>
        </footer>
  <!--footer-->
     <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="js/jquery-3.2.1.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src = "js/javascript.js"></script>
    </body>
 </html>